@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  line-height: 21px;
  font-family: "Red Hat Display", sans-serif;
  background: #e0e8ff;
  background-image: url("./images/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  width: 450px;
  height: 697px;
  margin: auto;
  margin-top: 102px;
}

.Dancing_girl {
  border-radius: 20px 20px 0px 0px;
}
h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  text-align: center;
  color: #1f2e55;
  margin-top: 45px;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #717fa6;
  margin: 17px 48px 20px 48px;
}
.music_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #dfe6fb;
  margin-right: 20px;
}
.annual {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  color: #1f2e55;
  margin-bottom: 6px;
}
.price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #717fa6;
}
.change {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #382ae1;
}
.change:hover {
  cursor: pointer;
  color: #766cf1;
}
.middle_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 354px;
  height: 98px;
  background: #f7f9ff;
  border-radius: 11px;
}
.mus_n_price {
  display: flex;
  align-content: space-between;
}

.process {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  width: 354px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.process:hover {
  cursor: pointer;
  background: #766cf1;
}
.cancel {
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: #717fa6;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.cancel:hover {
  cursor: pointer;
  color: #1f2e55;
}
